<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="info.androidhive.recyclerview">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <application
        android:name=".app.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />


        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:theme="@style/AppThemee">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FingerprintActivity"
            android:label="@string/app_name"/>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"/>
        <activity
            android:name=".AttendancePage"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".VRPRegistration"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".ProfileActivity"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".ToolReport"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".FinalReport"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".HistoricalTimelinePhoto"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".CustomMarkerClusteringDemoActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".AdditionalInformation"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".TeamMember"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Observation"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".MainActivityVideo"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/Base.Theme.AppCompat.Dialog"/>
        <activity android:name=".table.ui.SampleActivity"
            android:theme="@style/AppThemeNew"/>
        <activity
            android:name=".MapsFragActivity" />
        <activity android:name="katomaran.evao.lib.qrmodule.activity.QrScannerActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.com.vansuita.pickimage.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/picker_provider_paths" />
        </provider>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="facebook_app_id" />

        <!-- SMS Receiver -->
        <receiver android:name=".receiver.SmsReceiver">
            <intent-filter android:priority="99999">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>


        <!-- Intent service -->
        <service
            android:name=".service.HttpService"
            android:exported="false" />
    </application>

</manifest>
