<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="nec.cst.pra">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <meta-data
        android:name="android.support.VERSION"
        android:value="25.3.1" />
    <meta-data
        android:name="nec.survey.gaja.app.MyAppGlideModule"
        android:value="GlideModule" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name="nec.cst.pra.app.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />


        <activity
            android:name="nec.cst.pra.SplashScreen"
            android:label="@string/app_name"
            android:theme="@style/AppThemee">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="nec.cst.pra.village.VillageIntroActivity"
            android:label="@string/app_name" />
        <activity
            android:name="nec.cst.pra.survey.MainActivity"
            android:label="Village Survey" />

        <activity android:name="nec.cst.pra.village.VillageMeetingActivity" />
        <activity
            android:name="nec.cst.pra.FingerprintActivity"
            android:label="@string/app_name" />
        <activity
            android:name="nec.cst.pra.MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name="nec.cst.pra.AttendancePage"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="nec.cst.pra.VRPRegistration"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="nec.cst.pra.ProfileActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="nec.cst.pra.ToolReport"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="nec.cst.pra.FinalReport"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="nec.cst.pra.HistoricalTimelinePhoto"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="nec.cst.pra.CustomMarkerClusteringDemoActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="nec.cst.pra.household.CustClusterHouseHoldActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="nec.cst.pra.AdditionalInformation"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="nec.cst.pra.web.MainActivityWeb"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="nec.cst.pra.TeamMember"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".MainActivityPra"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name="nec.cst.pra.Observation"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="nec.cst.pra.MainActivityVideo"
            android:theme="@style/Base.Theme.AppCompat.Dialog"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="nec.cst.pra.table.ui.SampleActivity"
            android:theme="@style/AppThemeNew" />
        <activity android:name="nec.cst.pra.MapsFragActivity" />
        <activity android:name="katomaran.evao.lib.qrmodule.activity.QrScannerActivity" />

        <provider
            android:name="nec.cst.pra.app.GenericFileProvider"
            android:authorities="${applicationId}.nec.cst.pra.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.com.vansuita.pickimage.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/picker_provider_paths" />
        </provider>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="facebook_app_id" />

        <!-- SMS Receiver -->
        <receiver android:name="nec.cst.pra.receiver.SmsReceiver">
            <intent-filter android:priority="99999">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>


        <!-- Intent service -->
        <service
            android:name="nec.cst.pra.service.HttpService"
            android:exported="false" />

        <activity android:name="nec.cst.pra.UploadActivity" />
        <activity android:name="nec.cst.pra.village.ActivityMediaOnline" />
        <activity android:name="nec.cst.pra.household.MainActivityAllSurvey"></activity>
        <activity android:name="nec.cst.pra.household.MainActivityHouseHold"></activity>
        <activity android:name="nec.cst.pra.action.MainActivityAllSurveyAction"></activity>
        <activity android:name="nec.cst.pra.action.MainActivityAction"></activity>
        <activity android:name="nec.cst.pra.survey.PieChartActivity"></activity>
    </application>

</manifest>
